<div id="credits-panel-wrap" class="city-panel-hitbox" data-city-zoom="credits">
    <div class="credits-panel-container">

        <!-- #region Title Tag -->
        <div class="title-tag">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Top Zone -->
        <!-- #region Left Zone -->
        <!-- #region Buildings Group -->

        <div class="top-left-group-buildings-7-layer-9 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="top-left-group-buildings-7-layer-b building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region People Group -->

        <div class="skater-with-red-jemper red-facing-right people_asset">
            <div class="base-img"></div>
        </div>

        <div class="skater-with-purple-jemper purple-facing-right  people_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion-->
        <!-- #region Right Zone -->
        <!-- #region Buildings Group -->

        <div class="top-right-group-buildings-9-layer-11 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="top-right-group-buildings-5-layer-7 building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Trees and Poles Group -->

        <div class="top-right-group-treesandpoles-0-layer-4-A trees_asset">
            <div class="base-img"></div>
        </div>

        <div class="top-right-group-treesandpoles-0-layer-4-B trees_asset">
            <div class="base-img"></div>
        </div>

        <div class="top-right-group-treesandpoles-10-layer-12 trees_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion-->
        <!-- #endregion -->
        <!-- #region Mid Zone -->
        <!-- #region Left Zone -->
        <!-- #region Buildings Group -->

        <div class="mid-left-group-buildings-6-layer-8 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-left-group-buildings-8-layer-10 building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Streetcars Group -->

        <div class="mid-left-group-streetcars-ttc-1 streetcar-mid-right streetcar_asset">
            <div class="base-img"></div>
        </div>
        <div class="bot-right-group-streetcar-ttc-2 streetcar-bottom-left streetcar_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Houses Groupp -->

        <div class="mid-left-group-houses-1-layer-2 house_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-left-group-houses-4-layer-5 house_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Trees Group -->

        <div class="mid-left-group-trees-3-layer-6 trees_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion -->
        <!-- #region Right Zone -->
        <!-- #region Buildings Group-->

        <div class="mid-right-group-buildings-4-layer-6 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-right-group-buildings-3-layer-5 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-right-group-buildings-2-layer-4 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-right-group-buildings-1-layer-3 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-right-group-buildings-bellwoods building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Trees Group -->

        <div class="mid-right-group-trees-1-layer-3 trees_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-right-group-trees-2-layer-5-alt0_4_B trees_asset">
            <div class="base-img"></div>
        </div>

        <div class="mid-right-group-trees-2-layer-5-alt1_3 trees_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion -->
        <!-- #endregion -->
        <!-- #region Bottom Zone -->
        <!-- #region Left Zone -->
        <!-- #region Houses Group -->

        <div class="bot-left-group-houses-0-layer-1 house_asset">
            <div class="base-img">
            </div>
        </div>

        <div class="bot-left-group-houses-3-layer-4 house_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Trees Group -->

        <div class="bot-left-group-trees-10-layer-13 trees_asset">
            <div class="base-img"></div>
        </div>

        <div class="bot-left-group-trees-11-layer-14 trees_asset">
            <div class="base-img"></div>
        </div>

        <div class="bot-left-group-trees-4-layer-7 trees_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion -->
        <!-- #region Right Zone -->
        <!-- #region Buildings Group -->

        <div class="bot-right-group-buildings-0-layer-2 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="bot-right-group-buildings-11-layer-13 building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->


        @* Credits snow *@
        <div class="credits-snow-layer-1">
            <div class="base-img"></div>
        </div>
        <div class="credits-snow-layer-2">
            <div class="base-img"></div>
        </div>
        <div class="credits-snow-layer-3">
            <div class="base-img"></div>
        </div>


        <!-- #region Houses Group -->

        <div class="bot-right-group-houses-2-layer-3 house_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Streetcar Group -->

        <!-- #endregion -->
        <!-- #region Trees Group -->

        <div class="bot-right-group-trees-7-layer-10alt4_7 trees_asset">
            <div class="base-img"></div>
        </div>

        <div class="bot-right-group-trees-5-layer-8 trees_asset">
            <div class="base-img"></div>
        </div>
        <div class="bot-right-group-trees-6-layer-9 trees_asset">
            <div class="base-img"></div>
        </div>
        <div class="bot-right-group-trees-8-layer-11 trees_asset">
            <div class="base-img"></div>
        </div>
        <div class="bot-right-group-trees-9-layer-12alt_0_4_B trees_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion -->
        <!-- #endregion -->

    </div>
</div>