<div id="facesofclimate-panel-wrap">
    <div class="facesofclimate-panel-container">

        @* TV Set *@

        <div class="tv-trailers asset">
            <div class="base-img"></div>
        </div>


        @* Type Writer *@
        <a href="http://www.beyondcrisisblog.com" target="_blank">
            <div class="blog-typer asset">
                <div class="info-baloon">
                    <img src="~/Content/map/assets/facesofclimate/img/baloon_tail.png" alt="" class="tail" />
                    <div class="content">
                        <p class="text">
                            To view the latest updates and content from the team, including details of our cross-Canada journey, visit our blog at
                        </p>
                        <p class="link">
                            www.BeyondCrisisBlog.com
                        </p>
                    </div>
                </div>
                <div class="base-img"></div>
            </div>
        </a>


        @* Video Donation *@
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HPRUYHBS78FXS">
            <div class="camera-donations asset">
                <div class="info-baloon">
                    <img src="~/Content/map/assets/facesofclimate/img/baloon_tail.png" alt="" class="tail" />
                    <div class="content">
                        <p class="text">
                            Want to help strengthen our journey forwards? Your contribution will help build the conversation to get #SmartOnClimate, and our film. Click the button below to support the journey of Beyond Crisis
                        </p>
                        <p class="link">
                            Donate
                        </p>
                    </div>
                </div>
                <div class="base-img"></div>
            </div>
        </a>
    </div>
</div>
