<div id="ourstory-panel-wrap" class="city-panel-hitbox" data-city-zoom="ourstory">

    <div id="ourstory-panel-container">
        <div class="pcm-building-2 all-buildings"><div class="base-img"></div></div>
        <div class="pcm-building-4 all-buildings"><div class="base-img"></div></div>
        <div class="pcm-building-6 all-buildings"><div class="base-img"></div></div>
        <div class="pcm-green-building-7 all-buildings"><div class="base-img"></div></div>

        <div class="bridge-overlay">
            <div class="base-img"></div>
        </div>

        @* Waves, fishes and s*** *@
        <div class="map-base-fish-layer1"><div class="base-img "></div></div>
        <div class="map-base-fish-layer2"><div class="base-img "></div></div>
        <div class="map-base-waves-0000-layer2"><div class="base-img "></div></div>
        <div class="map-base-waves-mid-river"><div class="base-img "></div></div>
        <div class="map-base-waves-0001-layer3"><div class="base-img "></div></div>
        <div class="map-base-waves-0002-layer4"><div class="base-img "></div></div>


        @* Buildings *@
        <div class="pcm-buildings-1 all-buildings-groups"><div class="base-img"></div></div>
        <div class="pcm-buildings-2 all-buildings-groups"><div class="base-img"></div></div>
        <div class="pcm-buildings-3 all-buildings-groups"><div class="base-img"></div></div>
        <div class="pcm-buildings-5-layer-1 all-buildings-groups"><div class="base-img"></div></div>
        <div class="pcm-buildings-5-layer-2 all-buildings-groups"><div class="base-img"></div></div>
        <div class="pcm-buildings-7 all-buildings-groups"><div class="base-img"></div></div>

        <div class="pcm-chrysler all-towers"><div class="base-img "></div></div>
        <div class="pcm-empire-state all-towers"><div class="base-img"></div></div>

        @* Houses *@
        <div class="pcm-houses-1-layer-1 all-houses"><div class="base-img"></div></div>
        <div class="pcm-houses-1-layer-2 all-houses"><div class="base-img"></div></div>
        <div class="pcm-houses-2-layer-1 all-houses"><div class="base-img"></div></div>
        <div class="pcm-houses-2-layer-2 all-houses"><div class="base-img"></div></div>

        @* Other houses *@
        <div class="pcm-houses-0 all-houses"><div class="base-img"></div></div>
        <div class="pcm-houses-1 all-houses"><div class="base-img"></div></div>
        <div class="pcm-houses-2 all-houses"><div class="base-img"></div></div>
        <div class="pcm-houses-3 all-houses"><div class="base-img"></div></div>

        @* Lamp post *@
        <div class="pcm-lamp-post-1 all-lamp-posts"><div class="base-img"></div></div>
        <div class="pcm-lamp-post-2 all-lamp-posts"><div class="base-img"></div></div>
        <div class="pcm-lamp-post-3 all-lamp-posts"><div class="base-img"></div></div>

        @* Main *@
        <div class="pcm-lamp-march-main-1 all-march"><div class="base-img"></div></div>
        <div class="pcm-lamp-march-main-2 all-march"><div class="base-img"></div></div>
        <div class="pcm-lamp-march-main-3 all-march"><div class="base-img"></div></div>
        <div class="pcm-lamp-march-main-4 all-march"><div class="base-img"></div></div>

        @* Top line *@
        <div class="pcm-lamp-march-topline-1 all-march"><div class="base-img"></div></div>
        <div class="pcm-lamp-march-topline-2 all-march"><div class="base-img"></div></div>
        <div class="pcm-lamp-march-topline-3 all-march"><div class="base-img"></div></div>

        @* Other *@
        <div class="pcm-shop all-other"><div class="base-img"></div></div>
        <div class="pcm-statue-of-liberty all-other"><div class="base-img"></div></div>
        <div class="pcm-title-tag"><div class="base-img"></div></div>

        @* All trees *@
        <div class="pcm-trees-0-layer-1 all-trees"><div class="base-img"></div></div>

        <div class="pcm-trees-1-layer-2 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-1-layer-1 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-2-layer-2 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-2-layer-3 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-2-layer-4 all-trees"><div class="base-img"></div></div>

        <div class="pcm-trees-3-layer-1 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-3-layer-2 all-trees"><div class="base-img"></div></div>

        <div class="pcm-trees-4-layer-1 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-4-layer-2 all-trees"><div class="base-img"></div></div>

        <div class="pcm-trees-5-layer-1 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-5-layer-2 all-trees"><div class="base-img"></div></div>
        <div class="pcm-trees-5 all-trees"><div class="base-img"></div></div>

        @* Small objects - ourstory*@
        <div class="bird1-move all-birds"><div class="base-img"></div></div>
        <div class="bird2-move all-birds"><div class="base-img"></div></div>
        <div class="bird3-move all-birds"><div class="base-img"></div></div>


        <div class="pcm_taxi1 pcm__0004_taxi1 all-cars"><div class="base-img"></div></div>
        <div class="pcm_taxi2 pcm__0003_taxi2 all-cars"><div class="base-img"></div></div>

        <div class="pcm__0002_boat1 all-boats"><div class="base-img"></div></div>
        <div class="pcm__0001_boat2 all-boats"><div class="base-img"></div></div>
        <div class="pcm__0000_ship all-boats"><div class="base-img"></div></div>


        @* SmallObjects - ppl near taxi1 *@
        <div id="ourstory-taxi1-person-container">
            <canvas id="ourstory-taxi1-person-1" width="5" height="5"></canvas>
            <canvas id="ourstory-taxi1-person-2" width="5" height="5"></canvas>
            <canvas id="ourstory-taxi1-person-3" width="5" height="5"></canvas>
            <canvas id="ourstory-taxi1-person-4" width="5" height="5"></canvas>
        </div>

        <div class="pcm__0005_balloon"><div class="base-img"></div></div>

        @* Small objects - the river *@



    </div>
</div>
