
<div id="smartonclimate-panel-wrap" class="city-panel-hitbox" data-city-zoom="smartonclimate">

    <div class="smartonclimate-panel-container">

        <!-- #region Title Tag -->

        <div class="title-tag">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Top Group -->
        <!-- #region Left-Top - Trees -->

        <div class="left-top-group-trees-8 tree_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Left Top - Buildings Group -->

        <div class="left-three-buildings building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Middle-Top - Houses and Windmills -->

        <div class="top-house-1 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="left-mountain-structures building_asset">
            <div class="base-img"></div>
        </div>

        <div class="windmill-wrap windmill-1 back-pos1 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-1 back-pos2 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-1 back-pos3 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-3 back-pos4 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-3 back-pos5 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-3 back-pos6 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-2 back-pos7 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-2 back-pos8 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-2 back-pos9 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <!-- #endregion -->
        <!-- #region Right-Top - Sunball -->

        <div class="sun-ball">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion -->
        <!-- #region Middle Group -->
        <!-- #region Right-Top-Upper-Middle - Cars and Bikers -->

        <div class="right-top-upper-middle-group-car-17">
            <div class="base-img"></div>
        </div>

        <div class="right-top-upper-middle-group-cyclist-3">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Upper-Middle - Trees Group -->

        <div class="middle-middle-group-trees-7 tree_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-middle-group-trees-5 tree_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-middle-group-tree-6 tree_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Upper-Middle - Houses Group -->

        <div class="left-middle-house-4 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-house-3 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-house-2 building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion-->
        <!-- #region Upper-Middle - Train -->

        <div class="upper-middle-train">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Middle - Electric Wires -->

        <div class="electric-wires">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Middle - Trees Group -->

        <div class="middle-bottom-group-trees-3 tree_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-bottom-group-trees-0 tree_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-bottom-group-tree-1 tree_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-middle-group-tree-4 tree_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Middle - Building Group -->

        <div class="middle-group-top-building building_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-group-middle-right-building-21 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-group-middle-middle-building-21 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-group-middle-left-building-8 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="middle-group-bottom-right-buildings-6 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="fat-building-solar-panel-group fat-building-panel1 solarpanel_asset"><div class="base-img"></div></div>
        <div class="fat-building-solar-panel-group fat-building-panel2 solarpanel_asset"><div class="base-img"></div></div>
        <div class="fat-building-solar-panel-group fat-building-panel3 solarpanel_asset"><div class="base-img"></div></div>


        <div class="rightcorner-building-solar-panel-group right-side-panel1 solarpanel_asset"><div class="base-img"></div></div>
        <div class="rightcorner-building-solar-panel-group right-side-panel2 solarpanel_asset"><div class="base-img"></div></div>
        <div class="rightcorner-building-solar-panel-group right-side-panel3 solarpanel_asset"><div class="base-img"></div></div>



        <div class="middle-group-bottom-left-building-13 building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Right-Middle - Building Group -->

        <div class="buildings-rightcorner-Layer-1 building_asset">
            <div class="base-img"></div>
        </div>
        <div class="buildings-rightcorner-Layer-2 building_asset">
            <div class="base-img"></div>
        </div>

        <div class="right-middle-group-left-building building_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Right-Middle - Solar Panels-->

        <div class="right-middle-group-right-solarpanel right-middle-panel1 solarpanel_asset">
            <div class="base-img"></div>
        </div>

        <div class="right-middle-group-right-solarpanel right-middle-panel2 solarpanel_asset">
            <div class="base-img"></div>
        </div>

        <div class="right-middle-group-right-solarpanel right-middle-panel3 solarpanel_asset">
            <div class="base-img"></div>
        </div>

        <div class="right-middle-group-right-solarpanel right-middle-panel4 solarpanel_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #region Right-Middle - Tree Group -->

        <div class="middle-right-group-tree-2 tree_asset">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion-->
        <!-- #region Bottom Group -->
        <!-- #region Right-Bottom - Windmill Group -->

        <div class="windmill-wrap windmill-1 pos1 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-2 pos2 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-3 pos3 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-2 pos4 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-1 pos5 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <div class="windmill-wrap windmill-3 pos6 windimill_asset">
            <div class="windmill-container">
                <div class="windmill-blade">
                    <div class="base-img"></div>
                </div>
                <div class="windmill-base">
                    <div class="base-img"></div>
                </div>
            </div>
        </div>

        <!-- #endregion -->
        <!-- #region Middle-Bottom - Cyclist Group-->

        <div class="middle-bottom-group-cyclist-4">
            <div class="base-img"></div>
        </div>

        <!-- #endregion -->
        <!-- #endregion -->
        @* Train *@
        <div class="train-carriage-1 upper-middle-train"><div class="base-img"></div></div>
        <div class="train-carriage-2 upper-middle-train"><div class="base-img"></div></div>
        <div class="train-carriage-3 upper-middle-train"><div class="base-img"></div></div>
        <div class="train-carriage-4 upper-middle-train"><div class="base-img"></div></div>

        <div class="tunnel-bottom"><div class="base-img"></div></div>
        <div class="tunnel-top"><div class="base-img"></div></div>

        <div id="soc-lake-waves-1"><div class="base-img"></div></div>
        <div id="soc-lake-waves-2"><div class="base-img"></div></div>

        @* Train Passenger *@
        <div id="soc-ppl-group-to-train-1">
            <div class="human-ball red"></div>
            <div class="human-ball blue"></div>
            <div class="human-ball orange"></div>
        </div>
        <div id="soc-ppl-group-to-train-2">
            <div class="human-ball red"></div>
            <div class="human-ball blue"></div>
            <div class="human-ball yellow"></div>
            <div class="human-ball orange"></div>
            <div class="human-ball orange"></div>
        </div>
        <div id="soc-ppl-group-from-train-1">
            <div class="human-ball yellow"></div>
            <div class="human-ball orange"></div>
        </div>
        
        <div id="soc-ppl-group-from-train-2">
            <div class="human-ball blue"></div>
            <div class="human-ball yellow"></div>
            <div class="human-ball orange"></div>
        </div>

    </div>

</div>

