<div id="credits-sidepanel-wrap">
    <div class="credits-sidepanel-container">

        <h1 class="credits-title">
            CREDITS
        </h1>

        <p class="credits-content">Beyond Crisis is a Toronto PCM production, a collaboration of filmmakers working hard to bring you the story of what it takes to move from crisis to opportunity. Our intrepid leaders at Toronto PCM include:</p>

        <ul class="credits-teamlist">
            <li>
                <a href="#KRW-bio-wrap"><span class="name">Kai Reimer-Watts</span>Producer / Director</a>
            </li>
            <li>
                <a href="#AH-bio-wrap"><span class="name">Amanda Hunter</span>Executive Producer / Assistant Director</a>
            </li>
            <li>
                <a href="#MR-bio-wrap"><span class="name">Monica Resendes</span>Associate Producer / Marketing Director</a>
            </li>
        </ul>

        <div class="credits-teamphoto-container">
            <img src="~/Content/map/sidepanels/credits/img/unnamed.jpg" alt="" />
        </div>

        <div id="KRW-bio-wrap" class="bio-container bio-left">
            <div class="facial">
                <img src="~/Content/map/sidepanels/credits/img/KRW_DESAT_220x220_CircleCrop.png" alt="Kai Reimer-Watts" class="base-img" />
            </div>
            <div class="title">
                <span class="name">KAI REIMER-WATTS</span>
                <span class="job-title">PRODUCER / DIRECTOR</span>
            </div>
            <div class="bio-description">
                Kai is a proud multimedia artist, Master of Climate Change (MCC) graduate, and climate action advocate. An innovator / entrepreneur by nature, Kai recently co-founded a bold multimedia start-up “Better Creative” that celebrates the arts as a powerful tool for social change. Currently, he's busy adding his creative talents and strategic insight into the production of Beyond Crisis, guiding this exciting new story of change and transformation to address the growing climate crisis. Kai truly believes in the power of film to facilitate profound, meaningful shifts both in ourselves and in society, sharing the stories that matter most to all of us.
            </div>
        </div>

        <div id="AH-bio-wrap" class="bio-container bio-right">
            <div class="facial">
                <img src="~/Content/map/sidepanels/credits/img/AH_DESAT_220x220_CircleCrop.png" alt="Amanda Hunter" class="base-img" />
            </div>
            <div class="title">
                <span class="name">AMANDA HUNTER</span>
                <span class="job-title">EXECUTIVE PRODUCER / ASSISTANT DIRECTOR</span>
            </div>
            <div class="bio-description">
                Amanda is a videographer and photographer passionate about bridging cultural gaps and inspiring others through video, photography, animation, and effective design. Along with working as an established portrait photographer, she has a certificate in Environmental Visual Communication, which merges environmental science with visual communication in order to effectively communicate science to a variety of audiences. Her passion for making the science and solutions around climate change visually interesting and exciting is her greatest motivator for pushing this project forward.
            </div>
        </div>

        <div id="MR-bio-wrap" class="bio-container bio-left">
            <div class="facial">
                <img src="~/Content/map/sidepanels/credits/img/MR_DESAT_220x220_CircleCrop.png" alt="Monica Resendes" class="base-img" />
            </div>
            <div class="title">
                <span class="name">MONICA RESENDES</span>
                <span class="job-title">ASSOCIATE PRODUCER / MARKETING DIRECTOR</span>
            </div>
            <div class="bio-description">
                Monica is an educator, researcher and community organizer. She is the current vice-chair of the board for Toronto350.org, a climate justice organization she helped to establish. Her past roles there include both Creative Director and Vice President. Monica is a consultant for the Ontario Principal’s Associations and is involved in a province-wide project to help build capacity around environmental inquiry and knowledge building in the classroom. As Associate Producer / Marketing Director, Monica is working closely with the lead Producer on continued story development, messaging and distribution.
            </div>
        </div>

        <div class="bio-container bio-left" style="border-bottom: 1px solid rgba(0,0,0,0)">
            <div class="facial"></div>
            <div class="title"></div>
            <div class="bio-description"></div>
        </div>

    </div>
    <div id="credits-sidepanel-back" class="back-to-general">
        BACK
    </div>
</div>
