<div id="loading-screen-wrap">
    <div id="loading-screen-container">

        <!--earth-->
        <canvas id="loading-screen-earth" width="280" height="280"></canvas>

        <!--sun-->
        <div id="loading-screen-sun">
            <div class="base-img"></div>
        </div>
    </div>
</div>