<div id="ourstory-sidepanel-wrap">
    <div class="ourstory-sidepanel-container">

        <h1 class="ourstory-title">
            OUR STORY &amp;
            <br />
            THE PEOPLE'S CLIMATE MARCH
        </h1>

        <p class="ourstory-content">
            <b>An exhilarating experience - launching us into an inspiring new future.</b> That’s how many folks might describe the People’s Climate March, bringing together hundreds of thousands onto streets as far apart as New York and Beijing for a day of global action September 21st, 2014 - making it the largest mobilization for climate action in <span style="font-style: italic">history</span>.
        </p>

        <p class="ourstory-content">
            This fight for our shared future didn’t stop on the streets, of course: each day, millions more are pushing forward to forge a better path in the face of climate change - building a greener, more resilient tomorrow. We’re happy to be part of that journey.
        </p>
        <div id="ourstory-sidepanel-back" class="back-to-general">
            BACK
        </div>
    </div>
</div>