<div id="smartonclimate-sidepanel-wrap">
    <div class="smartonclimate-sidepanel-container">

        <h1 class="smartonclimate-title">
            #SMART<span style="font-style: italic">on</span>CLIMATE
        </h1>

        <p class="smartonclimate-content">
            <b>We believe that life is amazing</b> - but are scared to see it under threat from our changing climate. Rather than only being shaped by the dangerous changes ahead of us, we now have an exciting chance to “shape the change” for the better, building an inspired new tomorrow. How can we do this?<br/>By getting <b>#SmartOnClimate</b>.
        </p>

        <p class="smartonclimate-content">
            Why take smart action on climate? Not only will this help address one of the biggest challenges of our time - the main reason we believe getting #SmartOnClimate just makes sense is because it presents a future that’s <span style="font-style: italic">so much</span> better than what’s currently being offered to us. Stay tuned for more details on how each of us can use the knowledge and tools already out there to shape our futures for the better.
        </p>

        <p class="smartonclimate-content blog-link">
            <a href="http://www.beyondcrisisblog.com/" target="_blank">Visit the Beyond Crisis Blog for inspiration</a>
        </p>
        
    </div>
    <div id="smartonclimate-sidepanel-back" class="back-to-general">
        BACK
    </div>
    
</div>
