<div class="video-background-overlay"></div>
<div id="video-strip-wrap">
    <div class="close-button">BACK</div>
    <div class="crowd-fund-button">
        <a href="http://www.beyondcrisisblog.com/" target="_blank">
            <span>FOLLOW US ON OUR</span>
            <img src="~/Content/map/other/videostrip/img/bc_blog_logo.png" alt="Beyond Crisis - Blog" />
        </a>
    </div>
    <div class="video-strip-scroll">
        <div class="video-strip-container">
            <div class="video-item">
                <div class="thumbnail" id="yt-the-burning-age-video-long-thumb">
                    <div class="js-lazyYT video-container" data-youtube-id="9Riwxd47aG4" data-width="100%" data-height="100%">The Burning Age</div>
                </div>
                <div class="title">The Burning Age</div>
            </div>
            <div class="video-item">
                <div class="thumbnail" id="yt-walking-our-faith-video-long-thumb">
                    <div class="js-lazyYT video-container" data-youtube-id="ie51PuIikYc" data-width="100%" data-height="100%">Walking Our Faith</div>
                </div>
                <div class="title">Walking Our Faith</div>
            </div>
            <div class="video-item">
                <div class="thumbnail" id="yt-crowd-fund-video-long-thumb">
                    <div class="js-lazyYT video-container" data-youtube-id="WarlclpLhyo" data-width="100%" data-height="100%">In-depth pitch video</div>
                </div>
                <div class="title">In-depth pitch video</div>
            </div>
            @* Took down per request - 20151022 *@
            @*<div class="video-item">
                <div class="thumbnail" id="yt-teaser-video-long-thumb">
                    <div class="js-lazyYT video-container" data-youtube-id="0f_jxA6uJAs" data-width="100%" data-height="100%">Early film teaser</div>
                </div>
                <div class="title">Early film teaser</div>
            </div>*@
            <div class="video-item">
                <div class="thumbnail" id="yt-act-on-climate-video-long-thumb">
                    <div class="js-lazyYT video-container" data-youtube-id="nYewLuB6FAI" data-width="100%" data-height="100%">
                        Act On Climate March
                    </div>
                </div>
                <div class="title">Act On Climate March</div>
            </div>
            <div class="video-item">
                <div class="thumbnail" id="yt-new-movement-video-long-thumb">
                    <div class="js-lazyYT video-container" data-youtube-id="QjRmzfKZWgU" data-width="100%" data-height="100%">
                        Jobs, Justice, Climate March
                    </div>
                </div>
                <div class="title">Jobs, Justice, Climate March</div>
            </div>
            <div class="video-item">
                <div class="thumbnail" id="yt-new-movement-wrapup-video-long-thumb">
                    <div class="js-lazyYT video-container" data-youtube-id="Y315RYYT-K4" data-width="100%" data-height="100%">
                        Jobs, Justice, Climate Wrap-Up
                    </div>
                </div>
                <div class="title">Jobs, Justice, Climate Wrap-Up</div>
            </div>v

        </div>
    </div>
</div>